<html>

<body>
<div class='flash-box'>
</div>

<div class='wrapper'>
  <div class='chat-side'>
        <!-- <div class='side-header'>
        <div class='side-header__box'>
        <p class='side-header__box__user-name'>K</p>
        <ul class='side-header__box__menu'>
        <li class='side-header__box__menu__new-group'>
        <a href="/groups/new"><i class="fa fa-edit"></i>
        </a></li>
        <li class='side-header__box__menu__edit-user'>
        <a href="/users/241/edit"><i class="fa fa-cog"></i>
        </a></li>
        </ul>
        </div>
        </div>
        <div class='groups'>
        <a href="/groups/367/messages"><div class='group'>
        <p class='group__group-name'>あああああ</p>
        <p class='group__latest-message'>ああああああ</p>
        </div>
        </a></div> -->
    </div> -->

  <div class='chat-main'>
      <div class='main-header'>
          <!-- <div class='main-header__left-box'> -->
          <!-- <h2 class='main-header__left-box__current-group' data-group_id='367'>
          あああああ -->
           <!-- </h2>
          <ul class='main-header__left-box__member-list'>
          Member：
          <li class='main-header__left-box__member-list__member'>あああ</li>
          <li class='main-header__left-box__member-list__member'>K</li>
          </ul> -->
          <!-- </div> -->
          <!-- <a href="/groups/367/edit"><div class='main-header__edit-btn'>Edit</div>
          </a></div> -->
      <div class='messages'>
          <!-- <div class='message' data-message_id='544'>
          <div class='message__upper-info'>
           <p class='message__upper-info__talker'>K</p>
           <p class='message__upper-info__date'>2019/08/25(Sun) 21:33:34</p>
           </div>
           <p class='message__text'>ああああああ</p> -->

            <!-- </div> -->
          <!-- <div class='message' data-message_id='545'>
          <div class='message__upper-info'>
          <p class='message__upper-info__talker'>K</p>
          <p class='message__upper-info__date'>2019/08/25(Sun) 21:33:37</p>
          </div>
          <p class='message__text'>いいいいい</p> -->
      </div>


      <div class='form'>
        <!-- <form class="new_message" id="new_message" enctype="multipart/form-data" action="/groups/367/messages" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="tgKoFafkd4Rf03rrC0YCB/XFKxw0TSU+shGM2ytY4SGiBcZ3CinMcoA9FI7lPbUpMiQLfSOo9t3G4rnkTZD9hg==" /><div class='input-box'>
        <input placeholder="type a message" class="input-box__text" type="text" name="message[content]" id="message_content" />
        <label class="input-box__image" for="message_image"><i class="fa fa-image"></i>
        <input class="input-box__image__file" type="file" name="message[image]" id="message_image" />
        </label></div>
        <input type="submit" name="commit" value="Send" class="submit-btn" data-disable-with="Send" />
        </form></div>
        </div> -->

</div>

</body>
</html>